    <section id="menu" style="padding:0;">
        <div class="logo">
            <h2>Admin Panel</h2>
        </div>
 
        <div class="items">
            <li><ion-icon name="pie-chart-outline"></ion-icon><a href="#">Dashboard</a></li>
            <li><ion-icon name="people-outline"></ion-icon><a href="#">Users</a></li>
            <li><ion-icon name="settings-outline"></ion-icon><a href="#">Settings</a></li>
          <li><ion-icon name="help-circle-outline"></ion-icon><a href="/admin/signout">Signout</a></li>
           
        </div>
    </section>
    <section id="interface" style="padding: 0;">
        <div class="navigation">
            <div class="n1">
                <div>
                    <ion-icon id="menu-btn" name="menu-outline"></ion-icon>
                </div>
             
            </div>
            <div class="profile">
                <ion-icon name="notifications-outline"></ion-icon>
                <ion-icon name="person-outline"></ion-icon>
                <h6>{{name}}</h6>
            </div>
        </div>

 
        <div class="wrapper" style="height: 550px; margin-top:100px">
            <h2>Add user here</h2>
            <form onsubmit="validateForm()" action="/admin/create-user" method="POST" id="form">

                <input type="text" onchange="checkError()" placeholder="username" id="username" class="inputs" name="username">                
                 <div id="alreadyExist" class="form-text text-danger">{{message}}</div>
               

                <input onchange="checkError()" type="email" placeholder="email" class="inputs" id="email" name="email">
              

                <input type="password" onchange="checkError()" placeholder="password" id="password" class="inputs" name="password">


                <input type="password" onchange="checkError()" placeholder="Re-Enter password" class="input" id="confirmPassword" name="confirmPassword"><br>

               
                <div id="passwordMatchError" style="display: none;" class="form-text text-danger">Passwords do not match</div><br>
                     <div id="usernameError" style="display: none;" class="form-text text-danger">All fields are mandotory</div><br>
                
                <button type="submit" class="btn btn-primary">Add User</button>
            </form>
        </div>
    </section>
    <script>
    function checkError(){

      document.getElementById('alreadyExist').style.display = 'none';
      document.getElementById('usernameError').style.display = 'none';
      document.getElementById('passwordMatchError').style.display = 'none';
      
   
    }


  function validateForm() {


    const form = document.getElementById('form')
    addEventListener('submit',(e)=>{
      e.preventDefault()
    })
    let err ;
    let username = document.getElementById('username').value;
    let email = document.getElementById('email').value;
    let password = document.getElementById('password').value;
    let confirmPassword = document.getElementById('confirmPassword').value;
    if (username == '' || email == '' || password == '' || confirmPassword == '') {

      document.getElementById('usernameError').style.display = 'inline';
      err = true;
    }

    if(password != "" && confirmPassword != ""){

      if (password != confirmPassword) {
        err = true;
        document.getElementById('password').value = '';
        document.getElementById('confirmPassword').value = '';
        document.getElementById('passwordMatchError').style.display = 'inline';
        
      }
    }
    if (err === true) {
      return false;
    } else {
      form.submit();
      return true;
    }

  }
</script>
  
